.cvideo img {
    width: 10px;
    height: 300px;
}

.con-info {
    font-family: 'Koulen', cursive;
    font-family: 'Battambang', cursive;
}

.sub-news-article {
    background-color: rgb(116, 116, 116);
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 70%;
    opacity: 0.5;
    height: 40px;
}

.news-article img {
    width: 100%;
    height: 130px;
}

.news-article {
    position: relative;
}

.related-article img {
    width: 100%;
}

.cvideo2 {
    height: 500px;
}

.cmethod {
    background-color: rgb(224, 224, 224);
    border-radius: 6px;
    width: 90%;
}

.con-info {
    height: 200px;
}

.sub-mid-bar i {
    font-size: 15px;
    color: rgb(109, 109, 109);
}

.caption {
    color: rgba(245, 245, 245, 0.897);
    position: absolute;
    top: 70%;
    left: 10px;
    width: 100%;
    z-index: 11;
}

.contain-img {
    width: 150%;
}

.contain-img img {
    width: 120px;
    height: 100px;
}

.myincre {
    background-color: rgb(224, 224, 224);
    border-radius: 6px;
    width: 90%;
}

.mid-bar {
    margin-top: 20px;
    border: 3px solid orange;
    height: 50px;
    width: 100%;
    border-radius: 25px;
}

@media (max-width: 767.98px) {
    .news-article img {
        width: 50%;
        height: 130px;
    }
    .sub-news-article {
        width: 50%;
        height: 40px;
    }
}

.btn .fa.fa-sm {
    font-size: 1rem;
    margin-top: -5px;
}

.flickity-page-dots {
    display: none;
}

.custome {
    border-radius: 100px;
}

.custome-main button {
    /* background-color: red; */
    border: 1px solid orange;
}

/* .custome-main:hover button{
    background-color: blue; 
    border: 1px solid orange;
}  */

.custome-main {
    width: 70%;
}

.custome-main:hover {
    color: red;
}

/* custome for link a */

.acustome:active,
.acustome:hover {
    text-decoration: none;
}

a {
    color: rgba(87, 87, 87, 0.774);
}

a:active {
    color: rgb(0, 4, 255);
}

a:hover {
    color: rgb(65, 65, 65);
}

.btncustome:hover {
    background-color: orange;
}

.bgc {
    background-color: white;
}

.bg-red {
    background-color: red !important;
}